<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Films</title>
</head>
<body>
    <table>
        <tr>
            <th>id</th>
            <th>Titre</th>
            <th>Réalisateur</th>
            <th>Date</th>
            <th>Note</th>
            <th>Description</th>
        </tr>
        
        <% for(let i = 0; i<film.rows.length; i++){%>
        <tr>
            <td><%= film.rows[i].id%></td>
            <td><%= film.rows[i].titre%></td>
            <td><%= film.rows[i].realisateur%></td>
            <td><%= film.rows[i].date%></td>
            <td><%= film.rows[i].note%></td>
            <td><%= film.rows[i].description%></td>
        </tr>
            <%}%>   
        
    </table>
    <a href = '/newfilm'>ADD A FILM</a>
</body>
</html>